
*, *::after,*::before {
    padding: 0  ;
    margin: 0;
    box-sizing: border-box;
}
 /* WebKit Browsers */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #ffffff;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #333333;
    }

    /* Firefox */
html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #333333 #ffffff;
}

.customCursor {
            position: absolute;
            width: 1vw;
            height: 1vw;
            z-index: 10000;
            background-color: rgba(85, 85, 85, 0.8); /* Semi-transparent black circle */
            border-radius: 50%; /* Make it a circle */
            padding: 0.5%;
            margin: 0.5%;
            pointer-events: none; /* Prevent circle from interfering with other elements */
            transition: all 0s ease-out; /* Smooth transition for movement */
}
.customCursor2 {
            position: absolute;
            width: 3vw;
            height: 3vw;
            z-index: 10000;
            background-color: rgba(85, 85, 85, 0.2); /* Semi-transparent black circle */
            border-radius: 50%; /* Make it a circle */
            padding: 0.5%;
            margin: 0.5%;
            pointer-events: none; /* Prevent circle from interfering with other elements */
            transition: all 0.1s ease-out; /* Smooth transition for movement */
}



body {
    cursor: none;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden ;

}

.logo {
    height: 10vh;
    width: auto;
    transition: all 1s ease-in-out;
}

header {
    width: 100vw;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.9rem 0;
}

header nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 0  2rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(64, 64, 64, 0));
    align-items: center;
}

header ul {
    width: auto;
    display: flex;
    right: 0;
    list-style: none;   
    align-items: center;

}

header ul button {
    text-decoration: none;
    width: auto;
    letter-spacing: 1px;
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    font-family: Poppins;
    font-weight: normal;
    color: black;
    border: none;
    background: none;
    cursor: none;
    transition: all 0.5s ease;
}

button:hover {
        background-color: rgba(204, 3, 4, 0.9);
        border : 0;
        border-radius: 0.5rem;
        font-weight: bold;
}

main {
    background-color: #2a4a2c;
    height: 102vh;
    width: 100vw;
    position: relative;
    overflow: hidden; /*restricts all the images to the size of main*/
    filter: grayscale(100%) brightness(80%);

}

.parallax {
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: 3s cubic-bezier(.02,.51,.33,1.41);
}

.bg-img {
    position: absolute;
    top: calc(50%- 30vh);
    left: calc(50%);
    width: 170vw;
    z-index: 1;
}

.fog-7 {
    position: absolute;
    top: calc(50%- 30vh);
    left: calc(50%);
    width: 80vw;
    z-index: 2;
}

.mountain-10 {
    position: absolute;
    top: calc(50% + 10vh);
    left: calc(50% + 10vw);
    width: 70vw;
    z-index: 3;
}

.fog-6 {
    position: absolute;
    top: calc(50% + 30vh);
    left: calc(50%);
    width: 130vw;
    z-index: 4;
}

.mountain-9 {
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% + 45vw);
    width: 70vw;
    z-index: 5;
}

.mountain-8 {
    position: absolute;
    top: calc(50% + 45vh);
    left: calc(50% - 22vw);
    width: 70vw;
    z-index: 6;
}

.fog-5 {
    position: absolute;
    top: calc(50% + 20vh);
    left: calc(50% + 17vw);
    width: 30vw;
    z-index: 7;
}

.mountain-7 {
    position: absolute;
    top: calc(50% + 25vh);
    left: calc(50% - 30vw);
    width: 70vw;
    z-index: 8;
}

.text {
    position: absolute;
    z-index: 9;
    top : calc(50% - 15vh);
    left: calc(50% );
    text-align: center;
    text-transform: uppercase;
    color: black;
    pointer-events:auto;
}

.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.mountain-6 {
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% + 60vh);
    width: 60vw;
    z-index: 9;
}

.fog-4 {
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% + 30vw);
    width: 60vw;
    z-index: 10;
}

.mountain-5 {
    position: absolute;
    top: calc(50% + 60vh);
    left: calc(50% + 0vw);
    width: 70vw;
    z-index: 11;
}

.fog-4 {
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% - 0vw);
    width: 50vw;
    z-index: 12;
}
.mountain-4 {
    position: absolute;
    top: calc(50% + 30vh);
    left: calc(50% - 80vh);
    width: 70vw;
    z-index: 13;
}

.mountain-3 {
    position: absolute;
    top: calc(50% + 70vh);
    left: calc(50% + 35vw);
    width: 60vw;
    z-index: 14;
}
.fog-2 {
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% + 30vw);
    width: 50vw;
    z-index: 15;
}

.mountain-2 {
    position: absolute;
    top: calc(50% + 10vh);
    left: calc(50% - 40vw);
    width: 50vw;
    z-index: 16;
}

.mountain-1 {
    position: absolute;
    top: calc(50% + 100vh);
    left: calc(50% - 30vw);
    width: 70vw;
    z-index: 17;
}
.sun-rays {
    position: absolute;
    top: calc(50% - 50vh);
    left: calc(50% - 50vw);
    width: 140vw;
    z-index: 18;
}
.black-shadow {
    position: absolute;
    top: calc(50% + 30vh);
    left: calc(50% + 0vw);
    width: 100vw;
    z-index: 19;
}
.fog-1 {
    position: absolute;
    top: calc(50% + 50vh);
    left: calc(50% + 80vh);
    width: 70vw;
    z-index: 20;
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 60%, rgba(0,0,0,0.7))
}

.info {
    background-color: #ffffff;
    position: relative;
    top: -10px;
    left: 0;
    width: 100vw;
    height: 100vh;
    scroll-margin-top: -1vh;
    transition: transform 1s ease-in-out;
}
#helloPrint {
    position: relative;
    font-size: 15vh;
    font-weight: bolder;
    top : 5vh;
    left : 10vw;
    border-top: black 1px solid;
    border-left: black 5px solid;
    padding-left :  3vw;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
    border-radius: 50%;
}

.aboutMe {
    position: relative;
    top : 5vh;
    width: 50vw;
    left : 5vw;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: black;
    padding: 5%;

    border-radius: 10vh;
    transition: transform 1s ease-in-out;
}
.aboutImage {
    background-image: url("./Assets/images/myPic.jpg");
    background-size: cover;
    position: relative;
    top: -30vh;
    left: 60vw;
    width: 35vw;
    height: 40vh;
    border-radius: 10vh;
    border: #333333 20px solid;
    transition: transform 1s ease-in-out;
    filter: grayscale(80%);

}

.downArrow {
    position: relative;
    background-image: url("./Assets/images/downArrow.jpg");
    background-size: cover;
    height: 4vw;
    width: 4vw;
    left:46vw;
    border-radius: 50%;
    bottom:12vw;

}

.downArrow:hover {
     border-radius: 50%;
    border : black 2px solid;

}

.education {
    background-color: white;
    position: relative;
    top: -10px;
    left: 0;
    width: 100vw;
    height: auto;
    scroll-margin-top: -1vh;
    transition: transform 1s ease-in-out;
}

#eduHeading {
    position: relative;
    font-size: 15vh;
    font-weight: bolder;
    top : 5vh;
    left : 5vw;
    border-bottom: black 4px solid;
    border-left: black 1px solid;
    padding-left :  3vw;
    padding-bottom: 1vw;
    border-radius: 50%;
    margin-bottom: 20vh;
}
.education h1 {
    font-weight: bolder;
    font-size: 10vh;
}
.educationLevel h1 {
    padding: 4vh;
}

.educationLevel h1:hover {
    background-color: #cc0304;
    transition: background-color 0.5s ease-in-out;
    border-radius:30%;
    color: black;
}

.education h2 {
    font-weight: bold;
    font-size: 4vh;
}
.educationLevel {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-left: 5vw   ;
    padding-bottom: 10vh;
    padding-top: 10vh;
    border-bottom: black 1px solid;
    filter: blur(0.2vh);
    transition: all 1s ease-in-out;
}

.educationLevel:hover {
    filter: blur(0px);
    background-color: black;
    color: white;
}

.eduDetails {
    padding-left: 10vw;
}

.eduDetails p {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;

}

.skills {
    width: 100vw;
    height: 100vh;
    padding-left: 5vw;
    margin-top: 10vh;
    transition: all .5s ease-in-out;

}

.skills h1 {
    position: relative;
    font-size: 15vh;
    font-weight: bolder;
    padding-left: 30vw;
    padding-right: 30vw;
    width: 50vw;
    left: -28vw;
    border-right: black 3px solid;
    border-top: black 3px solid;
    border-radius: 50%;

}

